.one_spot_wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    justify-content: space-between;
    margin-left: 17%;
    margin-right: 15%;
}; 

a {
    text-decoration: none;
};

.one_spot_header_info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: left;
}

.one_spot_name {
    font-family: Circular, -apple-system, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
    font-size: 26px;
    line-height: 30px;
    color: rgb(33, 33, 33);
    /* margin-left: 20%;
    margin-right: 15%; */
    margin-top: 2%;
    margin-bottom: 10px;
};

.one_spot_details {
    font-family: Circular, -apple-system, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
    border-radius: 20px;
    margin-right: 15%;
} 

.one_spot_img {
    width: 900px;
    height: 500px;
    border-radius: 20px;
    justify-self: center;
    align-self: center;
    object-fit: cover;
}

.one_spot_rating {
    color: rgb(34, 34, 34);
    margin-bottom: 5px;
    border: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.one_spot_details_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.one_spot_details2  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: black;
    width: 470px;
    font-size: 22px;
    line-height: 26px;
    margin-top: 20px;
    margin-right: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.one_spot_host {
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.one_spot_description {
    color: #717171;
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    border-bottom: .5px solid;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.one_spot_details3 {
    color: black;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-size: 16px;
    padding: 5px 0px 10px 0px;
    border-bottom: .5px solid;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.one_spot_check_in {
    padding-bottom: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fa-solid {
    padding-right: 20px;
}

.fa-star {
    padding: 0%;
}

.one_spot_location {
    padding-bottom: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.one_spot_cancellation {
    padding-bottom: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.one_spot_border_box {
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    padding: 30px;
    margin-top: 20px;
    box-shadow: rgb(0, 0, 0, 0.12) 0px 6px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    margin-left: 40px;
    margin-right: 50px;
    margin-bottom: 20px;
    height: 300px;
    width: 300px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.border_box_left {
    color: rgb(34, 34, 34);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
};

.border_box_right {
    color: rgb(34, 34, 34);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.one_spot_details4 {
    display: flex;
    flex-direction: column;
}

.one_spot_details4_title {
    font-size: 22px;
    padding-top: 30px;
    padding-bottom: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.one_spot_details4_offers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 60px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
};

.one_spot_kitchen {
    font-size: 16px;
    color: #222222;
    padding-bottom: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.one_spot_parking {
    font-size: 16px;
    color: #222222;
    padding-bottom: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.one_spot_wifi {
    font-size: 16px;
    color: #222222;
    padding-bottom: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.one_spot_tv {
    font-size: 16px;
    color: #222222;
    padding-bottom: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.one_spot_ac {
    font-size: 16px;
    color: #222222;
    padding-bottom: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.one_spot_bath {
    font-size: 16px;
    color: #222222;
    padding-bottom: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.one_spot_heating {
    font-size: 16px;
    color: #222222;
    padding-bottom: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.one_spot_create_review_button {
    color: white;
    background-color: #ff385c;
    border-radius: 10px;
    border: none;
    font-size: 12px;
    height: 30px;
    width: 105px;
}