.nav-header {
    display: flex;  
    justify-content: space-between;     
    align-items: center;        
}

.nav-header-icon {
    height: 80px;
    margin-left: 10px;
}

.nav-header-middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}