.UserReviews_Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #ffffff;
    /* margin: 20px 50px 50px 50px; */
    /* border: 1px solid rgb(221, 221, 221); */
    /* border-radius: 12px; */
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    border-bottom: .5px solid;
    font-family: sans-serif;
    line-height: 20px;
    font-style: normal;
    font-weight: 500;
}

.UserReviews_Header {
    font-size: 26px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    margin-top: 3%;    
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 20px;
    border-bottom: .5px solid;
    font-family: sans-serif;
    font-style: normal;
}

.UserReviews_Delete_Button {
    color: white;
    background-color: #ff385c;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: sans-serif;
    line-height: 20px;
    font-style: normal;
    font-weight: 500;    
    font-size: 12px;
}