.userBookings-no-booking {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 20px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.userBookings-container {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    justify-content: space-evenly;
    background-color: #ffffff;
    margin-top: 20px;
    /* margin-left: 10%;
    margin-right: 10%; */
    /* border-bottom: .5px solid rgba(174, 169, 169, 0.867); */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 20px;
    font-style: normal;
    font-weight: 500;
    border: 1px solid black;
    gap: 5em;
}

.userBookings-wrapper {
    border: 1px solid red;
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    gap: 3em;
    padding: 10px;
}

.userBookings-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 10px;
}

.userBookings-name {
    font-size: 22px;
    font-weight: bold;
    line-height: 20px;
}

.userBookings-header {
    font-size: 26px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    margin-top: 3%;
    padding-bottom: 20px;
    border-bottom: .5px solid rgba(174, 169, 169, 0.867);
}

.userBookings-buttons {
    color: white;
    background-color: #ff385c;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 120px;
    line-height: 20px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}

.userBookings-image {
    min-width: 290px;
    height: 275px;
    border-radius: 20px;
    object-fit: cover;
}