.search-bar-form-container {
    display: flex;
    border: 2px solid black;
    min-width: 900px;
    height: 48px;
    border-radius: 50px;
    box-shadow: 0 1px 4px 0 rgb(34 34 34 / 10%);
    background: #FFFFFF;
}

.search-bar-form-input {
    width: 900px;
    height: 35px;
    margin: 5px 5px 5px 15px;
    border: none;
}

.search-bar-form-button {
    border: none;
    background: transparent;
    align-items: center;
    padding: 15px 10px 10px 10px;
    cursor: pointer;
}