.spots_cards_container {
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 100%;
    vertical-align: bottom;
    font-family: inherit;
    border: 10px;
    box-sizing: border-box;
}

.spot_img {
    width: 400px;
    height: 350px;
}

.spot_location {

}

.spot_price {
       
}

.spot_rating {

}

.spot_name {
    font-size: 40px;
    font-family: sans-serif;
}

.spot_description {
    font-size: 30px;
    font-family: sans-serif;
}

