.spots_cards_container {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 10px;
    vertical-align: bottom;
    font-family: inherit;
    border: 20px;
    row-gap: 15px;
    border-radius: 20px;
}

.spots_img {
    width: 290px;
    height: 275px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px 5px 5px 5px;
    padding: 2px;
    vertical-align: bottom;
    border: 20px;
    row-gap: 15px;
    border-radius: 20px;
}

.spots_location {
    border: 5px;
    padding: 5px;
}

.spots_price {
    border: 5px;
    padding: 5px;
}

.spots_rating {
    border: 5px;
    padding: 5px;
}

.spots_name {
    font-size: 26px;
    font-family: sans-serif;
}

.spots_description {
    font-size: 22px;
    font-family: sans-serif;
}
