.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
}

.logo{
    height: 100px;
    width: 100px;
}

.nav-host {
    font-family: sans-serif;
}

.button {
    border-radius: 15px;
    display: flex;
    border: none;
}